<% searchesResults.forEach(item => { %>
  <!--<form id="create-form" action="/add" method="post">
    <fieldset></fieldset> -->
  <li>
    <image class="image" src=<%= item.image_url %>></div>
    <div class="title"><%= item.title %></div>
    <div class="author"><%= item.author %></div>
    <div class="description"><%= item.description %></div>
  </li>
  <!--</form>-->
<% }) %>