<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <main>
      <h4>Seach by Title or Author</h4>
      <%- include(path) %>
    </main>
  <%- include('../layout/footer') %>
</body>
</html>