<!DOCTYPE html>
<html>
  <header>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/base.css" rel="stylesheet" type="text/css"/>
    <div>
    Hello World
    </div>
  </header>
  <body>
    Hello from index.ejs!
  </body>
</html>