
<nav>Best Books!
    <div id="icons">
        <a href="/" ><i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="/search" ><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    
</nav>
